<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>

<ul>
  <% @cart.line_items.each do |curr_item| %>
  <li>
    <li><%= curr_item.quantity %> &times; <%= curr_item.product.title %></li>
  </li>
  <% end %>
</ul>