<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>

<ul>
  <% @cart.line_items.each do |curr_item| %>
  <li>
    <%= curr_item.quantity %> &times; <%= curr_item.product.title %>
  </li>
  <% end %>
</ul>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: "Are you certain that you want to empty cart?"} %>
